:root {
  --color-white-primary: #ffffff;
  --color-white-secondary: rgba(255, 255, 255, 0.6);
  --color-background-secondary: #f5f4fa;
  --color-background-dark: #2f303a;
  --color-text-primary: #757575;
  --color-text-title: #212121;
  --color-accent: #2196f3;
  --color-icon: #afb1b8;

  --transition-duration: 250ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);

  --cards-gap: 30px;
  --col-features: 4;
  --col-specialisation: 3;
  --col-team: 4;
  --col-clients: 6;
  --col-product-set: 3;
}

body {
  background-color: var(--color-white-primary);
  color: var(--color-text-primary);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* utilities */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* container component */

.container {
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

/* section component */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding-top {
  padding-top: 0;
}

.section__title {
  margin-bottom: 50px;

  color: var(--color-text-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* header component */

.header {
  border-bottom: 1px solid #ececec;
}
.header__content {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}

/* logo component */

.logo {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 93px;

  color: var(--color-text-title);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo:focus {
  outline: var(--color-accent) solid 1px;
}

.logo--inverse {
  margin-bottom: 20px;
  margin-right: 0;

  color: var(--color-white-primary);
}
.logo--accent {
  color: var(--color-accent);
}

/* site navigation component*/

.site-nav {
  display: flex;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--color-text-title);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link--current {
  color: var(--color-accent);
  outline: none;
}
.site-nav__link--current:focus {
  outline: var(--color-accent) solid 1px;
}
.site-nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--color-accent);
  border-radius: 2px;
}

/* contacts component */

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--color-text-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.contacts__link--semitransparent {
  color: var(--color-white-secondary);
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts__link--white {
  color: var(--color-white-primary);
}
.contacts__icon {
  display: inline-block;
  margin-right: 10px;

  vertical-align: middle;
  fill: currentColor;
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--color-accent);
  outline: none;
}

/* - studio page - */

/* hero section */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__title {
  margin-bottom: 30px;

  color: var(--color-white-primary);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button component */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  color: var(--color-white-primary);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  cursor: pointer;
  background-color: var(--color-accent);
  border: 1px transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:focus {
  outline: var(--color-white-primary) solid 1px;
}
.button__icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
}
.button__icon--append {
  margin-left: 10px;
}
.button__icon--prepend {
  margin-right: 10px;
}

/* modal window component */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;

  transition-property: opacity, visibility;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--color-white-primary);

  transform: translate(-50%, -50%) scale(1);

  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.modal-backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.modal-backdrop.is-hidden > .modal-container {
  transform: translate(-50%, -50%) scale(0);
}
.modal-container__button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;

  color: #000;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-container__icon {
  position: absolute;

  fill: currentColor;

  transition-property: color, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.modal-container__button:focus {
  outline: none;
}
.modal-container__button:hover .modal-container__icon,
.modal-container__button:focus .modal-container__icon {
  color: var(--color-accent);
  transform: rotateZ(360deg);
}
.modal-container__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--color-text-title);
}

/* form component */

.form {
  display: block;
}
.form__field {
  position: relative;

  display: block;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}
.form__field:focus-within > .form__input,
.form__field:focus-within > .form__icon {
  fill: var(--color-accent);
  border-color: var(--color-accent);
  outline: none;
}
.form__field--textarea {
  margin-bottom: 20px;
}
.form__field--checkbox {
  margin-bottom: 30px;
  padding-left: 12px;
}
.form__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;

  color: inherit;
  background-color: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.form__input--textarea {
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
}
.form__input--textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.form__icon {
  position: absolute;
  bottom: 21px;
  left: 12px;

  fill: var(--color-text-title);

  transform: translateY(50%);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.form__input-checkbox--hidden {
  /* -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; */

  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.form__label-checkbox {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
}
.form__icon-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  color: transparent;
  border: 2px solid var(--color-text-title);
  border-radius: 2px;
  box-shadow: none;
  fill: currentColor;
  stroke: currentColor;

  transition-property: color border-color background-color box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.form__input-checkbox:checked + .form__icon-checkbox {
  color: var(--color-white-primary);
  border-color: transparent;
  background-color: var(--color-accent);
}
.form__input-checkbox:focus-within + .form__icon-checkbox {
  box-shadow: 0px 0px 5px var(--color-text-primary);
}

/* agreement link component */

.agreement-link,
.agreement-link:visited {
  color: var(--color-accent);
  text-decoration: underline;
}

/* features section */

.features {
  display: flex;
  align-items: flex-start;
}
.features__item {
  flex-basis: calc((100% - (var(--cards-gap) * (var(--col-features)-1))) / var(--col-features));
}
.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--color-background-secondary);
  border-radius: 4px;
}
.features__item:not(:last-child) {
  margin-right: var(--cards-gap);
}
.features__title {
  margin-bottom: 10px;

  color: var(--color-text-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
}

/* specialisation section */

.specialisation {
  display: flex;
}
.specialisation__item {
  flex-basis: calc(
    (100% - (var(--cards-gap) * (var(--col-specialisation)-1))) / var(--col-specialisation)
  );
  position: relative;
}
.specialisation__item:not(:last-child) {
  margin-right: var(--cards-gap);
}
.specialisation__text-container {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}
.specialisation__text {
  color: var(--color-white-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* team section */

.section--team {
  background-color: var(--color-background-secondary);
}
.team {
  display: flex;
}
.team__item {
  flex-basis: calc((100% - (var(--cards-gap) * (var(--col-team)-1))) / var(--col-team));

  background-color: var(--color-white-primary);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item:not(:last-child) {
  margin-right: var(--cards-gap);
}
.team__meta {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;

  text-align: center;
}
.team__title {
  margin-bottom: 10px;

  color: var(--color-text-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__description {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

/* social net links component */

.social {
  display: flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 44px;

  color: var(--color-icon);
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.social__link--white {
  color: var(--color-white-primary);
  background-color: rgba(255, 255, 255, 0.1);
}
.social__icon {
  display: block;
  fill: currentColor;
}

.social__link:hover,
.social__link:focus {
  background-color: var(--color-accent);
  color: var(--color-white-primary);
}
.social__link:focus {
  outline: none;
}

/* clients section */

.clients {
  display: flex;
  align-items: center;
}
.clients__item {
  flex-basis: calc((100% - (var(--cards-gap) * (var(--col-clients)-1))) / var(--col-clients));
}
.clients__item:not(:last-child) {
  margin-right: var(--cards-gap);
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;

  color: var(--color-icon);
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  text-decoration: none;

  transition-property: color, border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--color-accent);
  color: var(--color-accent);
}
.clients__link:focus {
  outline: var(--color-white-primary) solid 1px;
}
.clients__icon {
  display: block;
  fill: currentColor;
}

/* - portfolio page - */

/* filter component */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:last-child) {
  padding-right: 8px;
}
.filter__button {
  min-height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-text-title);
  background-color: var(--color-background-secondary);
  cursor: pointer;
  border: 1px transparent;
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.filter__button:hover,
.filter__button:focus {
  color: var(--color-white-primary);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

/* products section */

/* products grid container */

.product-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--cards-gap));
  margin-left: calc(-1 * var(--cards-gap));
}
.product-set__item {
  flex-basis: calc(100% / (var(--col-product-set) - var(--cards-gap)));

  margin-left: var(--cards-gap);
  margin-top: var(--cards-gap);

  background-color: var(--color-white-primary);
}

/* product card component */

.product {
  width: 100%;
  height: 100%;
}
.product__link {
  display: block;
  width: 100%;
  height: 100%;

  color: var(--color-text-primary);
  text-decoration: none;

  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.product__link:hover,
.product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}
.product__overlay-container {
  position: relative;
  overflow: hidden;
}
.product__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;

  background-color: var(--color-accent);

  transform: translateY(100%);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.product__overlay-description {
  color: var(--color-white-primary);

  font-size: 18px;
  line-height: 1.56;
}
.product__link:hover .product__overlay,
.product__link:focus .product__overlay {
  transform: translateY(0);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}

.product__meta {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  --border-card-color: #eeeeee;

  border-bottom: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
  border-right: 1px solid var(--border-card-color);
}
.product__title {
  color: var(--color-text-title);
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product__description {
  font-size: 16px;
  line-height: 1.88;
}

/* page footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--color-background-dark);
}
.footer__content {
  display: flex;
  align-items: flex-start;
}
.footer__social-container {
  /* margin-right: 93px; */
  padding-top: 12px;
  color: var(--color-white-primary);
}
.footer__title {
  margin-bottom: 20px;

  color: var(--color-white-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer__subscription-container {
  padding-top: 12px;
  margin-left: auto;
}
/* address component */
.address {
  font-style: normal;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
  margin-right: 70px;
}

/* subscription form component */

.form-subscription {
  display: flex;
  align-items: center;
}
.form-subscription__input {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;

  color: var(--color-white-primary);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
}
.form-subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: var(--color-white-secondary);
}
.form-subscription__input:focus-within {
  border-color: var(--color-accent);
  outline: none;
}
